.password {
    margin: 0 auto;
    width: 65%;
    height: 35%;
    background: #F9FAFC;
    border: 1px solid #EBEFF3;
    position: relative;
    border-radius: 3px;
}

.updatePassword_input {
    margin-left: 50px;
}

.update_pwd {
    margin-left: 3rem;
    font-size: 17px;
    color: #324157;
}

.updatePassword_newPassword {
    margin-left: 35px;
}

.tel_num {
    font-size: 1.8rem;
    margin-left: 2rem;
    color: #696969;
}

.changePassword_bg {
    width: 100%;
    height: 600px;
    background: #ffffff;
}

.centerParent {
    width: 800px;
    margin: 40px auto;
}

.centerParent > p {
    color: #000000;
    font-size: 3rem;
    text-align: center;
}

.update_password {
    text-align: center;
    margin-top: 20px;
    color: black;
    font-size: 20px;
}

.updatePassword_fontStyle {
    font-size: 16px;
    border: 1px solid #ccc;
    height: 50px;
    width: 84px;
    padding: 16px;
    position: absolute;
    top: 50px;
    right: 10%;
    cursor: pointer;
}

.updatePassword_content {
    margin-top: 27px;
}

.updatePassword_finish {
    margin-top: 20px;
}

.updatePassword_finishTwo {
    margin-top: 20px;
    margin-left: -112px;
}

.updatePassword_changePassword {
    border: 1px solid #EBEFF3;
    border-radius: 3px;
    background: #F9FAFC;
    width: 65%;
    height: 35%;
    margin: 0 auto;
    position: relative;
}

.updatePassword_changePassword > button {
    top: 20px;
    position: absolute;
    right: 110px;
    width: 66px;
    padding: 26px 0;
}

.updatePassword_changePassword > div > div > p {
    text-align: right;
}
